* {
    padding: 0;
    margin: 0;
    font-family: 'Spartan', sans-serif;
  }
  
  :root {
    --light-grayish-cyan: hsl(180, 52%, 96%);
    --light-grayish: hsl(180, 31%, 95%);
    --dark-grayish-cyan: hsl(180, 8%, 52%);
    --very-dark-grayish-cyan: hsl(180, 14%, 20%);
    --desaturated-dark-cyan: hsl(180, 29%, 50%);
    --Dark-Grayish-Cyan: hsl(180, 8%, 52%);
    --Light-Grayish-Cyan--Background: hsl(180, 52%, 96%);
  }
  
  .header {
    background-color: var(--desaturated-dark-cyan);
    background-image: url('../images/bg-header-mobile.svg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 150px;
  }
  body {
    width: 100%;
    height: 100%;
    background: var(--light-grayish-cyan);
    display: flex;
    flex-direction: column;
    
  }
  
  .card {
    position: relative;
    background-color: white;
    box-sizing: border-box;
    padding: 20px 20px 0 20px;
    width: 95%;
    height: 265px;
    border-radius: 10px;
    box-shadow: 0 0.6px 4px -3px black;
    margin-top: 40px;
  }
  
  .card-body-container__header-title {
    color: var(--desaturated-dark-cyan);
    font-weight: 700;
    margin-bottom: 10px;
  }
  .header-title__new {
    background-color: var(--desaturated-dark-cyan);
  }
  .header-title__feature {
    background-color: var(--very-dark-grayish-cyan);
  }
  .breadcrumb {
    color: white;
    display: flex;
    align-content: center;
    align-items: center;
    border-radius: 50px;
    margin-left: 5px;
    margin-top: -7px;
    padding:  9px 7px 5px 7px;
    font-size: 12px;
  }
  
  .card.feature:nth-of-type(1),.card.feature:nth-of-type(2) {
    border-left: 5px solid var(--desaturated-dark-cyan);
  }
  
  .card-container {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
  }
  .card-body {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: space-evenly;
  }
  .parameter-filter__right {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 12px;
    flex-shrink: 1;
    flex-grow: 1;
   
  }
  .filter {
    background-color: var(--light-grayish);
    color: var(--desaturated-dark-cyan);
    font-weight: 700;
    border-radius: 4px;
    margin: 0.5em 0.5em 0.5em 0;
  }
  .filter__wrapper {
    display: flex;
    align-items: stretch;
    height: 28px;
  }
  .filter__label {
    display: inline-block;
    padding: 0.5em;
    font-size: 0.8em;
  }
  .filter__btn {
    border: none;
    outline: none;
    border-radius: 0 4px 4px 0;
    background-color: var(--desaturated-dark-cyan);
    color: white;
    width: 35px;
    font-weight: 700;
    font-size: 1.3em;
    cursor: pointer;
    padding: 4px;
    transition: 0.3s ease;
  }
  .filter__btn:hover {
    background-color: black;
  }
  .categories {
    border-top: 1px solid var(--dark-grayish-cyan);
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    padding-top: 10px;
  }
  
  .card-body-logo {
    position: absolute;
    bottom: 230px;
  }
  
  .btn {
    margin: 10px;
    outline: none;
    padding: 8px;
    background-color: var(--light-grayish);
    color: var(--desaturated-dark-cyan);
    border: none;
    font-weight: 700;
    border-radius: 5px;
  }
  
  .card-body-container__contract {
    display: flex;
    flex-direction: row;
    color: var(--dark-grayish-cyan);
    font-weight: 500;
  }
  
  .card-body-logo__img {
    width: 55px;
  }
  
  .card-body-container__contract {
    display: flex;
  }
  
  .card-body-container__contract p {
    margin-left: 0px;
  }
  .card-body-container h2 {
    font-size: 1.2em;
    margin-bottom: 11px;
  }
  
  .card-body-container__header-title {
    font-size: 0.8em;
    display: flex;
  }
  
  .search-find {
    width: 60%;
    background-color: red;
    border-radius: 10px;
    min-height: 120px;
    max-height: 200px;
  }
  
  .card-body-container {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .search-parameter {
    display: flex;
    width: fit-content;
    flex-direction: row;
    justify-content: center;
    height: 30px;
    font-size: 0.7em;
    font-weight: 800;
    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    padding: 5px;
  }
  
  .search-parameter__title {
    background-color: var(--light-grayish);
    color: var(--desaturated-dark-cyan);
    padding: 10px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }
  
  .search-parameter__button {
    background-color: var(--desaturated-dark-cyan);
    font-weight: 700;
    color: white;
    border-radius: 0;
    outline: none;
    border: 0;
    padding: 10px;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
  }
  .parameters-filter{
    display: none;
  }
  .parameters-filter, #parameters {
    background: white;
    width: 95%;
    box-shadow: 0 1px 16px -11px black;
    border-radius: 10px;
    margin-top: -22px;
    margin-left: 10px;
    margin-right: 12px;
    align-items: center;
    justify-content: space-between;
  }
  .parameter-filter__right {
    width: 700%;
  }
  .parameter-filter__left {
    height: 90px;
    width: 40%;
    display: flex;
    padding-right: 20px;
    justify-content: center;
    align-items: center;
  }
  .parameter-filter__left-button {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    outline: none;
    border: 0;
    background-color: white;
    font-weight: 700;
    color: var(--dark-grayish-cyan);
  }
  .job-tags{
    list-style: none;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
  }

@media screen and (min-width: 1024px) {
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .header {
    background-image: url('../images/bg-header-desktop.svg');
  }
  .card {
    padding: 10px;
    height: auto;
  }
  .categories {
    border-top: 0;
    margin-top: 25px;
  }
  .card-body-logo {
    position: relative;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
  }
  .card-body-container__title {
    user-select: none;
  }
  .card-body-container__contract{
    font-size: 15px;
  }
  .card-body h2{
    font-size: 18px;
  }
  .card-body-logo__img {
    width: 75px;
  }
  .card-body {
    flex-direction: row;
  }
  .categories {
    align-items: flex-start;
    justify-content: flex-end;
    margin-right: auto;
  }
  .card-body-container {
    width: 50%;
    margin-top: 17px;
    margin-bottom: 17px;
  }
  .parameters-filter, #parameters {
      background: white;
      width: 76%;
      box-shadow: 0 1px 16px -11px black;
      border-radius: 10px;
      margin-top: -22px;
      margin-left: 15px;
      align-items: center;
      justify-content: space-between;
  }
  .parameter-filter__right {
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
  }
  .parameter-filter__left {
    height: auto;
    width: 40%;
    display: flex;
    padding-right: 0px;
    justify-content: center;
    align-items: center;
  }
  .card-container {
    width: 80%;
  }
  .parameter-filter__left-button{
    width: 200px;
  }
  .card-body-container__title:hover {
    color: var(--desaturated-dark-cyan);
  }
  .btn:hover {
    background-color: var(--desaturated-dark-cyan);
    color: white;
  }
  .search-parameter__button:hover {
    background-color: var(--very-dark-grayish-cyan);
  }
  .parameter-filter__left-button:hover{
    color:var(--desaturated-dark-cyan)
  }
  .filter {
    background-color: var(--light-grayish);
    color: var(--desaturated-dark-cyan);
    font-weight: 700;
    border-radius: 4px;
    height: 35px;
    margin: 0.5em 0.5em 0.5em 0;
  }
  .filter__wrapper {
    display: flex;
    align-items: stretch;
    height: 35px;
  }
  .filter__label {
    display: inline-block;
    padding: .7em;
    font-size: 0.9em;
  }
  .filter__btn {
    border: none;
    outline: none;
    border-radius: 0 4px 4px 0;
    background-color: var(--desaturated-dark-cyan);
    color: white;
    width: 40px;
    font-weight: 700;
    font-size: 1.5em;
    cursor: pointer;
    padding: 5.5px;
    transition: 0.3s ease;
  }
}
  